<app-patient-navmenu></app-patient-navmenu>
<div class="appointment-list">
    <h1>{{patientFirstName}} {{patientLastName}}'s Appointments</h1>
    <div class="appointment-list">
        <div class="appointment" *ngFor="let appointment of appointments">
          <h2>{{ appointment.name }}</h2>
          <p>{{ appointment.description }}</p>
          <p>Date: {{ appointment.date  }}</p>
          <p>Start Time: {{ appointment.startTime }} </p>
          <p>End Time: {{appointment.endTime}}</p>
          <p>Doctor : {{appointment.doctor.profile.firstName}} {{appointment.doctor.profile.lastName}}</p>
          <p>Patient : {{appointment.patient.profile.firstName}} {{appointment.patient.profile.lastName}}</p>
          </div>
          </div>
          </div>
