<div class="container">
    <div class="title-div">
      <h1>Employee Registry</h1>
      <p>A general view of all your members in your organization</p>
    </div>
    <div class="users-table-div">
      <table class="table1" [cellSpacing]="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Admin</th>
            <th>Doctor</th>
          </tr>
        </thead>
        <tbody>
          <tr id='line' *ngFor="let employee of employees">
            <td>{{ employee.profile.firstName }} {{ employee.profile.lastName }}</td>
            <td>{{ employee.profile.email }}</td>
            <td>{{employee.profile.phoneNumber}}</td>
            <td [ngClass]="{'text-success':employee.admin, 'text-danger': !employee.admin}">{{ employee.admin? 'Yes' : 'No' }}</td>
            <td [ngClass]="{'text-success':employee.doctor, 'text-danger': !employee.doctor}">{{ employee.doctor? 'Yes' : 'No' }}</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
      <div class="btn-container-div">
        <button class="create-user-btn btn" (click)="toggleUserOverlay()">
            Create New Employee
          </button>
    
  </div>
