
.prescription-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .prescription {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .prescription h2 {
    font-weight: bold;
    margin-top: 0;
  }
  
  .prescription p {
    margin-bottom: 10px;
  }
  
  .prescription:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
  }

  .add-user-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-user-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px; /* adjust the width to your liking */
}

.add-user-form {
    /* add any additional styles for the form component here */
}