<div class="prescription-list">
    <h1>Prescriptions</h1>
    <div class="prescription-list">
        <div class="prescription" *ngFor="let prescription of prescriptions">
          <h2>{{ prescription.name }}</h2>
          <p>{{ prescription.description }}</p>
          <p>Prescribed by: {{ prescription.prescriber.profile.firstName }} {{ prescription.prescriber.profile.lastName }}</p>
          <p>For: {{ prescription.prescribed.profile.firstName }} {{ prescription.prescribed.profile.lastName }}</p>
          <button class="edit-btn" (click)="toggleUpdateOverlay(prescription)">Edit</button>
          <button class="delete-btn" (click)="deletePrescription(prescription)">Delete</button>
        </div>
      </div>
  </div>
  <div class="btn-container-div">
    <button class="add-employee-btn" (click)="toggleUserOverlay()">
        Create New Prescription
    </button>
</div>

<!-- Add the overlay container -->
<div class="add-user-overlay" *ngIf="showUserOverlay">
    <!-- Add the form container -->
    <div class="add-user-container">
        <!-- Add the form component -->
        <app-add-prescription-form class="add-user-form" (updateUserOverlayVisibility)="onOverlayVisibilityChange()"></app-add-prescription-form>
    </div>
</div>

<div class="add-user-overlay" *ngIf="showUpdateOverlay">
    <!-- Add the update form container -->
    <div class="add-user-container">
      <!-- Add the update form component -->
      <app-update-prescription-form class="add-user-form" [prescription]="selectedPrescription" (updatePrescription)="onUpdatePrescription($event)" (updateUserOverlayVisibility)="onOverlayVisibilityChange()" (onClose)="onCloseUpdateOverlay()"></app-update-prescription-form>
    </div>
  </div>
