<div class="appointment-form">
    <div class="header">
      <h1>Create New Appointment</h1>
      <div class="exit-button" (click)="handleOverlayExit()">
        <img
          class="exit-icon"
          src="../../../assets/close.svg"
          alt="exit"
          width="30"
        />
      </div>
    </div>
    <form #appointmentForm="ngForm" (ngSubmit)="onSubmit(appointmentForm.form.value)">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="appointment.name" name="name" required>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" [(ngModel)]="appointment.description" name="description" required></textarea>
      </div>
      <div class="form-group">
        <label for="date">Date:</label>
        <input type="date" id="date" [(ngModel)]="appointment.date" name="date" required>
      </div>
      <div class="form-group">
        <label for="startTime">Start Time:</label>
        <input type="time" id="startTime" [(ngModel)]="appointment.startTime" name="startTime" required>
      </div>
      <div class="form-group">
        <label for="endTime">End Time:</label>
        <input type="time" id="endTime" [(ngModel)]="appointment.endTime" name="endTime" required>
      </div>
      <div class="form-group">
        <label for="doctor">Doctor:</label>
        <div class="doctor-name">{{ employee.profile.firstName }} {{ employee.profile.lastName }}</div>
        <input type="hidden" [ngModel]="employee" name="doctor">
      </div>
      <div class="form-group">
        <label for="patient">Patient:</label>
        <select id="patient" [(ngModel)]="appointment.patient" name="patient" required>
          <option *ngFor="let patient of patients" [ngValue]="patient">{{ patient.profile.firstName }} {{ patient.profile.lastName }}</option>
        </select>
      </div>
      <button type="submit" [disabled]="!appointmentForm.form.valid">Create Appointment</button>
    </form>
  </div>
