
.procedure-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .procedure {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .procedure h2 {
    font-weight: bold;
    margin-top: 0;
  }
  
  .procedure p {
    margin-bottom: 10px;
  }
  
  .procedure:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
  }

  .add-user-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-user-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px; /* adjust the width to your liking */
}



button {
  background-color: #337ab7; /* Update background color */
  padding: 10px 20px; /* Update padding */
  border-radius: 5px; /* Update border radius */
  border: none;
  color: #fff; /* Update text color */
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

h1 {
    display: block; /* ensure the h1 is a block element */
    width: 100%; /* set the width to 100% */
    text-align: center; /* center the text horizontally */
    /* adjust the position to center it */
  }