button {
    border: 2px solid rgba(27, 160, 152, 0.8);
    border-radius: 50px;
    background-color: black;
    color: white;
   margin-top: 10px;
    padding: 10px 40px;
    cursor: pointer;
    transition: all 0.2s
  }
  
  button:hover .submit-button {
    border: 2px solid rgba(27, 160, 152, 0.8)
  }

  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }